<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <nav>
      <!-- Navbar component -->
    </nav>
    <header>
      <!-- Hero section -->
      <div style="background-image: url('../image/ljback.png')">
        <div>
          <div>CREATING</div>
          <h1>timeless brands</h1>
          <div>
            <p>Creative and Quality Design</p>
            <p>~Liseli J Branding House</p>
          </div>
        </div>
      </div>
    </header>
    <main>
      <!-- Hero component -->
      <section>
        <!-- Banner component -->
      </section>
      <section>
        <!-- Slider component -->
      </section>
      <section>
        <!-- Services component -->
      </section>
      <section>
        <!-- Clients component -->
      </section>
    </main>
    <footer>
      <!-- Footer component -->
    </footer>
  </body>
</html>
